<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Margo</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/fonts.css">
        <link rel="stylesheet" href="/static/css/index.css">
    </head>

    <body>
        <img class="avatar" id="avatar" src="/static/images/avatar.png" alt="Margo">
        <div class="name-conatiner first-name">Margarita</div>
        <div class="name-conatiner second-name">Cherentsova</div>
        <div class="about-me">Data analyst at bank</div>
        <div class="contacts">
            <div class="y-center">
                <div class="x-center">
                    <a href="mailto:no@icloud.com">
                        <img class="contact desktop" src="/static/images/icons/email.svg">
                        <img class="contact mobile" src="/static/images/icons/email_m.svg">
                    </a>
                </div>
            </div>
            <div class="y-center">
                <div class="x-center">
                    <a href="https://t.me/nutcrackerprince">
                        <img class="contact desktop" src="/static/images/icons/telegram.svg">
                        <img class="contact mobile" src="/static/images/icons/telegram_m.svg">
                    </a>
                </div>
            </div>
            <div class="y-center">
                <div class="x-center">
                    <a href="https://instagram.com/margarit.che">
                        <img class="contact desktop" src="/static/images/icons/instagram.svg">
                        <img class="contact mobile" src="/static/images/icons/instagram_m.svg">
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>