<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Margo</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/fonts.css">
        <link rel="stylesheet" href="/static/css/index.css">
    </head>

    <body>
        <div class="container" id="about-me">
            <div class="y-center">
                <div class="about-me-container">
                    <img class="avatar" id="avatar" src="/static/images/avatar.png" alt="clipdecliprepeat">
                    <div>
                        <div class="name-conatiner first-name">Margarita</div>
                        <div class="name-conatiner second-name">Cherentsova</div>
                    </div>
                    <div class="about-me-section">
                        <div class="y-center">Data analyst</div>
                    </div>
                    <div class="about-me-section button">
                        <button id="cv">CV</button>
                        <button id="contact-me">Contact Me</button>
                    </div>
                </div>
            </div>
        </div>
    </body>


<!-- 
    <body>
        <div class="container about-me" id="about-me">
            <div class="y-center inherit-height">

                <div class="x-center">
                    <img class="avatar" id="avatar" src="/static/images/avatar.png" alt="clipdecliprepeat">
                </div>

                <div class="x-center double-margin-top title">Margarita Cherentsova</div>
                
                <div class="x-center">Data analyst</div>

                <div class="x-center button full-margin-top" id="open-cv-button">
                    <div>
                        <div class="x-center">CV</div>
                        <div class="x-center arrow-container">
                            <img class="arrow arrow-down" src="/static/images/icons/arrow-down.svg">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container cv" id="cv">
            <div class="y-center inherit-height">

                <div class="x-center button full-margin-top" id="close-cv-button">
                    <div>
                        <div class="x-center arrow-container">
                            <img class="arrow arrow-up" src="/static/images/icons/arrow-up.svg">
                        </div>
                        <div class="x-center">Back</div>
                    </div>
                </div>

                <div class="x-center full-margin-top tail-margin-bottom">
                    CV
                </div>
                
            </div>
        </div>
        </div>
    </body> -->

    <script src="/static/scripts/index.js"></script>
</html>